* {
    box-sizing: border-box;
  }
 

  
  body, #body_bg{
    background-color: #303030;
    
  }
.background-pic {
    width: 100%;
    height: auto;
}

  .column {

    width: 50%;
    padding: 10px;
    height: 150px; 
    text-align: center;
    margin: auto;
    background-color: white;
    margin-bottom: 50px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .navigation {
      margin-right: 170px;
  }
  .søg{
      width: 300px;
  }
  .filter-ny{
float: right;
margin-right: 12%;


  }
  .filter-kategori{
    float: right;
    
    
  }
  div, .produkter {
      margin-left: 50px;
  }

  .produkter {
      
    float: left;
    width: 28%;
    padding: 10px;
    margin-left: 20px;
    height: 400px;
      background-color: white;
      box-sizing: border-box;
      border: #303030 solid 5px;  
  }
  .highlights{
      color: #ffa500;
  }
.utydelig {
color: #232323;
opacity: 50%;
}
.bold {
    font-weight: bold;
}

.lille {
    font-style: 5px;
}

  .produktboks { 

  }

.frugt {
    width: 100%;
}
