* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    
  }


 
  body, #body_bg{
    background-color: #303030;
 
    
    }

    h1{
        color: white;
    }
    h2 {
    font-weight: lighter;
    font-size: 30px;
    }

.logo img {
    margin-top: 1em;
    max-width: 7%;  
    height: auto;
    position: absolute;
    top: 25px;
    left: 50px;
}

.header-skrift {
    position: absolute;
    top: 40px;
    left: 19%;

}
.slash {
    color: #ffa500;
}
  a {
    color: #ffa500;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .nav-position {
      position: absolute;
    left: 52%;
    top: 80px;
    overflow: hidden;
    
  
  }

  .nav-position2 {
    position: absolute;
  left: 69%;
  top: 80px;
  overflow: hidden;
}
.background-pic {
    width: 100%;
    height: auto;
}

.julie-knap {
  background-color: #303030;
  border: 0px;
position: absolute;
top: 30px;
right: 100px;
}

.julie {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  border-style: dotted;
  border-color: #ffa500;
  
 
 
}

.julie-tekst {
  position: absolute;
  top: 130px;
  right: 95px;
  text-align: center;
  color: #DFDFDF;
  
}

.konto {
height: 50px;
width: 50px;
border-radius: 100%;
border-style: dotted;
font-size: 8px;
position: absolute;
right: 30px;
top: 35px;
background-color: #3B3B3B;
border-color: #ffa500;
color: #DFDFDF;

}

.log-af{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-style: dotted;
  font-size: 8px;
  position: absolute;
  right: 30px;
  top: 90px;
  background-color: #3B3B3B;
  border-color: #ffa500;
  color: #DFDFDF;

}


.overskrift {
    position: absolute;
    top: 230px;
    left: 36%;
    font-size: 60px;
    text-align: center;
    font-weight: lighter;
}


.overskriftgul {
    color: #ffa500;
}

  .column {

    width: 50%;
    padding: 10px;
    height: 150px; 
    text-align: center;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 17px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .navigation {
      margin-right: 170px;
     
    
  }

  .søg{
      width: 300px;
      
  }
  .filter-ny{
float: right;
margin-right: 10%;


  }
  .filter-kategori{
    float: right;
    
    
  }
  div, .produkter {
      margin-left: 50px;
      border-radius: 17px;
  }

  .produkter {
      
    float: left;
    width: 28%;
    padding: 10px;
    margin-left: 20px;
    height: 450px;
      background-color: white;
      box-sizing: border-box;
      border: #303030 solid 5px;  
  }
  .highlights{
      color: #ffa500;
  }
.utydelig {
color: #232323;
opacity: 50%;
}
.bold {
    font-weight: bold;
}

.lille {
    font-size: 10px;
}

.bold .lille .kurv {
 top: 40px;
}

.kurv {
  width: 30px;
  height: 30px;
  background-color: #ffa500;
  position: relative;
  left: 290px;
  bottom: 60px;
  border: 17px;
  border-radius: 10px;
}  

.kurv-billed{
height: 20px;
width: 20px;
}

.besked {
  height: 20px;
  width: 20px;
}
.besked-knap {
  width: 30px;
  height: 30px;
  background-color: #DFDFDF;
  position: relative;
  left: 290px;
  bottom: 60px;
  border: 17px;
  border-radius: 10px;
}

.indlæs{
margin: auto;
margin-bottom: 200px;
position: relative;
top: 30px;
left: 32%;
background-color: #DFDFDF;
border-radius: 7px;
border: 0px;
width: 350px;
height: 35px;
}

.frugt {
    width: 100%;
}

.footer {
  background-color: #ffa500;
  position: absolute;
  left: 0;

  width: 100%;
  height: 250px;
  
}

.billed-footer {
  position: relative;
  top: 50px;
  
}
.copyright {
  margin-top: 50px;
  margin-left: 24px;
 
}

.kontakt {
  position: relative;
  margin-left: 350px;
  bottom: 150px; 

    
}
.kontakt-os {
  font-weight: bold;
}

.menu {
  position: relative;
  margin-left: 650px;
  bottom: 300px; 
}

.footer-billede {
  width: 400px;
  height: auto;
  position:absolute;
  right: 60px;
  bottom: 10px;
}