* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    
  }


 
  body, #body_bg{
    background-color: #303030;
    }
    h1{
        color: white;
    }


.logo img {
    margin-top: 1em;
    max-width: 7%;  
    height: auto;
    position: absolute;
    top: 25px;
    left: 50px;
}

.header-skrift {
    position: absolute;
    top: 40px;
    left: 19%;

}
.slash {
    color: #ffa500;
}
  a {
    color: #ffa500;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .nav-position {
      position: absolute;
    left: 52%;
    top: 65px;
    overflow: hidden;
    
  
  }

  .nav-position2 {
    position: absolute;
  left: 69%;
  top: 65px;
  overflow: hidden;
}
.background-pic {
    width: 100%;
    height: auto;
}

.overskrift {
    position: absolute;
    top: 230px;
    left: 36%;
    font-size: 60px;
    text-align: center;
}


.overskriftgul {
    color: #ffa500;
}

  .column {

    width: 50%;
    padding: 10px;
    height: 150px; 
    text-align: center;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .navigation {
      margin-right: 170px;
  }
  .søg{
      width: 300px;
      display: flexbox;
  }
  .filter-ny{
float: right;
margin-right: 10%;


  }
  .filter-kategori{
    float: right;
    
    
  }
  div, .produkter {
      margin-left: 50px;
  }

  .produkter {
      
    float: left;
    width: 28%;
    padding: 10px;
    margin-left: 20px;
    height: 400px;
      background-color: white;
      box-sizing: border-box;
      border: #303030 solid 5px;  
  }
  .highlights{
      color: #ffa500;
  }
.utydelig {
color: #232323;
opacity: 50%;
}
.bold {
    font-weight: bold;
}

.lille {
    font-size: 10px;
}

  .produktboks { 

  }

.frugt {
    width: 100%;
}
