/* Insert import font */


/* -----Variables----- */

/* Colors */

:root{
    --orange: #ffa500;
    --offblack: #303030;
    --offwhite: #fafafa;
    --lightgrey: #F0F0F0;
    --darkgrey: #E0E0E0;
}

/* Margins */

:root{
    --mg1: 1em;
    --mg2: 2em;
    --mg3: 3em;
    --mg4: 4em;
    --mg5: 5em;
    --mg6: 6em;
}

/* Fonts */

:root{
    --font_about: 3.625em;
    --font_contact: 3.125em;
    --Title1: 6.25em;
    --Title2: 5em;
    --Title3: 3.8125em;
    --desc: 5em; /*unknown*/
    --info: 6em; /*unknown*/
}

/* Zindex */

:root{
    --back: 1;
    --middle: 5;
    --front: 10;
}

/* Extras */

h1{
    font-family: 'Montserrat', 700;
    margin: 0px auto;
    display: table;
    font-size: 26px;
    padding: 40px 0px;
    color: #002e5b;
    text-align: center;
}

h2{
    font-family: 'Montserrat', 600;
    font-size: 18px;
    font-weight: 500;
    color: #002e5b;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p{
    font-family: 'Montserrat', 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-align: justify;
}



* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
  }

  body {
    margin: 0px;
    padding: 0px;
    font-family: "montserrat", sans-serif;
    }
    

    /*Navigation*/
header{
  position: absolute; 
  top: 0; 
  left: 0; 
  padding: 0 100px; 
  background: #ffa500; 
  width: 100%; 
  box-sizing: border-box; 
}

/*logo in the navigation*/
header .logo{
  color: #303030; 
  height: 50px; 
  line-height: 50px; 
  font-size: 18px; 
  float: left; 
  font-weight: bold; 
}

header nav{
  float: right; 
}

.logo img{
  margin-top: 0.36em;
  max-width: 30%;  
height: auto;
}

header nav ul li a.active{
  text-decoration: underline;}

/*hover effect and location effect*/
header nav ul li a:hover,
header nav ul li a.active{
  color: #fafafafa; 
  
}

header nav ul{
  margin: 0; 
  padding: 0; 
  display: flex; 
}

header nav ul li{
  list-style: none; 
}

header nav ul li a{
  height: 50px; 
  line-height: 50px;
  padding: 0 20px; 
  color: #303030;
  text-decoration: none; 
  display: block; 
}



/*added the bruger menu and removed it for desktop*/
.burger-menu{
  color: #fff; 
  float: right; 
  line-height: 50px;
  font-size: 24px;
  cursor: pointer; 
  display: none; 
}

/* Index.html */

/*
  section {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
  }
  */

  h1 span {
    font-weight: 500;
  }
  
  .content {
    display: table;
    margin-bottom: 60px;
    width: 900px;
  }







  /*--------------------MIT----------------*/

  body, #body_bg{
    background-color: #303030;
  }

  h1, .omos_overskrift{
    padding-top: 320px;
    color: #FAFAFA;
    font-size: 3em;

  }

  .omos_overskrift2{
    margin-top: -40px;
    text-align: center;
    color: #FAFAFA;
    font-size: 3em;

  }


  #section-a .bg-image{
    position: absolute;
    background-image: url("/images/omoshero01.png");
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    width: 100%;
    height: 800px;
    z-index: -1;
    opacity: 1;
    margin-top: 50px;
    }

    .highlight {
        font-weight: lighter;
        color: var(--orange);
            /*--just added--*/
        text-decoration: underline;
        text-decoration-color: #FFA500;
        text-underline-offset: 6px;
        /*--------------*/
    }

    
    
    
        .form-title{
            margin-top: 400px;
            text-align: center;
            color: #FAFAFA;
            font-size: 3em;
            text-decoration-color: #FFA500;
            text-underline-offset: 15px;
            text-decoration: underline;
            text-decoration-color: #FFA500;
            text-underline-offset: 6px;
            margin-bottom: 100px;
        }
    

.circle {
  width: 700px;
  height: 900px;
  border-top-left-radius: 40%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 50%;
  border-style: solid;
  background: #303030;
  border-color: #FFA500;
  margin: auto;
}

.circle h3{
  padding-top: 80px ;
  font-size: 20px;
  color: #fff;
  margin-left: 160px;
  margin-right: 80px;
  line-height: 40px;

}

.omos {
  font-weight: bold;
  color: var(--orange);
  text-decoration-color: #FFA500;
  
}

.form-titles{
  margin-top: 150px;
  text-align: center;
  color: #FAFAFA;
  font-size: 3em;
  text-decoration-color: #FFA500;
  text-underline-offset: 15px;
  text-decoration: underline;
  text-decoration-color: #FFA500;
  text-underline-offset: 6px;
  margin-bottom: 100px;
}
    
.produkter {
  float: left;
  width: 30%;
  padding: 10px 10px 10px 10px;
  height: 200px;
    background-color: white;
    box-sizing: border-box;
    border: #303030 solid;
    align-items: center;
    justify-content: center;
    margin-left: 14em;
    margin-bottom: 2em;
    border-radius: 10px;
    
}

#column5 {
  margin-left: 35em;
}

.img {
  width: 40%;
  margin: 0;
}

.column{
  position: absolute;
  text-align: center;
  margin-left: 12em;
  margin-top: -170px;
}

.produkter p{
  margin-left: 15.5em;
  margin-top: -150px;
  color: blue;
}

.produkter h5 {
  margin-left: 16.5em;
  margin-top: 50px;
  color: #303030;
  opacity: 70%;
}

.produkter h6{
  margin-left: 20.5em;
  margin-top: 5px;
  color: #303030;
  opacity: 70%;
}

.produkter a img{
  width: 6%;
  margin-left: 13.7em;
  margin-top: 10px;
  opacity: 60%;
}




        