/* Insert import font */


/* -----Variables----- */

/* Colors */

:root{
    --orange: #ffa500;
    --offblack: #303030;
    --offwhite: #fafafa;
    --lightgrey: #F0F0F0;
    --darkgrey: #E0E0E0;
}

/* Margins */

:root{
    --mg1: 1em;
    --mg2: 2em;
    --mg3: 3em;
    --mg4: 4em;
    --mg5: 5em;
    --mg6: 6em;
}

/* fonts */

:root{
    --paragraph_om_os: 3.625em;
    --contact_font_size: 3.125em;
    --Title1: 6.25em;
    --Title2: 5em;
    --Title3: 3.8125em;
    --desc: 5em; /*unknown*/
    --info: 6em; /*unknown*/
}

/* Zindex */

:root{
    --back: 1;
    --middle: 5;
    --front: 10;
}

h1{
    font-family: 'Montserrat', 700;
}

h2{
    font-family: 'Montserrat', 600;
}

p{
    font-family: 'Montserrat', 400;
}
