/* Insert import font */


/* -----Variables----- */

/* Colors */

:root{
    --orange: #ffa500;
    --offblack: #303030;
    --offwhite: #fafafa;
    --lightgrey: #F0F0F0;
    --darkgrey: #E0E0E0;
}

/* Margins */

:root{
    --mg1: 1em;
    --mg2: 2em;
    --mg3: 3em;
    --mg4: 4em;
    --mg5: 5em;
    --mg6: 6em;
}

/* Fonts */

:root{
    --font_about: 3.625em;
    --font_contact: 3.125em;
    --Title1: 6.25em;
    --Title2: 5em;
    --Title3: 3.8125em;
    --Title4: 3em;
    --Paragraphs: 1em;
    --desc: 5em; /*unknown*/
    --info: 6em; /*unknown*/
}

/* Zindex */

:root{
    --back: 1;
    --middle: 5;
    --front: 10;
}

/* Extras */

.bd-grid{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

h1{
    font-family: 'Montserrat', 700;
    margin: 0px auto;
    display: table;
    font-size: 26px;
    padding: var(--mg2) 0px;
    color: var(--offwhite);
}

h2{
    font-family: 'Montserrat', 600;
    font-size: var(--mg1);
    font-weight: 500;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    display: table;
    padding-bottom: var(--mg1);
    margin-bottom: var(--mg1);
}

p{
    font-family: 'Montserrat', 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--offwhite);
    text-align: justify;
}

/* Body + HTML */

* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
  }

  html,
  body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "montserrat", sans-serif;
    background: #fafafa;
    }

    html {
        overflow-x: hidden;
    }
    
    body {
        overflow: hidden;
        width: 100%;
    }

/* Index.html */

#herosection .bg-image{
    position: absolute;
    background-image: url("/images/hero01.png");
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-left: 58vh;
    width: 100%;
    height: 830px;
    z-index: -1;
    opacity: 1;
    }

  section {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
  }

  h1 span {
    font-weight: 500;
  }
  
  .content {
    display: table;
    margin-bottom: 60px;
    width: 900px;
  }
  
  
  @media only screen and (max-width: 1440px) {
    section {
      max-width: 100%;
    }
  }
  
  @media only screen and (max-width: 980px) {
    .content {
      width: 90%;
    }
  }

/* Index.html with Smooth Scroll */

.smooth-scroll-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
}

.content {
    width: 80%;
    margin: 160px auto;
}

h1 {
    font-weight: lighter;
    font-size: var(--Title4);
    color: var(--offblack);
}

.highlight {
    font-weight: lighter;
    color: var(--orange);
}

p {
    margin-top: -5em;
    font-size: var(--Paragraphs);
    line-height: var(--mg2);
    font-weight: 200;
    color: #3030308a;
}

.img {
    float: right;
    height: 60vh;
    width: 80vh;
    background: url(/images/hero02.png) no-repeat 100% 100%;
    background-size: cover;
    margin: 21.6vh auto;
}


/* PC Query */

@media only screen and (min-width: 768px) {
    body {
      background-color: #fafafa;
    }
  }